<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBDefault" connectionString="Server=54d20a18-3353-4fac-b634-a4d200788fe9.sqlserver.sequelizer.com;Database=db54d20a1833534facb634a4d200788fe9;User ID=lrckhsunequaiujy;Password=tfXn4o4DQTbyYVgCti3pbBVTfNRmtMnRH8DtLAGLM6ifh8hnuocxYrHYsegoDRkc;"/>

    <!--<add name="DBDefault" connectionString="Data Source=WIN-KANGWL;Initial Catalog=MyDb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
