/XK.IDal/obj
/XK.Dal/obj
/XK.Core/obj
/XK.Common/obj
/XK.Bll/obj
/XK.Authentication/obj
/WebAppBootStrap/obj
/ConsoleAppTest/obj
/ConsoleAppTest/bin
/WebAppBootStrap/bin
/XK.Authentication/bin
/XK.Bll/bin
/XK.Common/bin
/XK.Core/bin
/XK.Dal/bin
/XK.IDal/bin
/MyBootstrapWeb.v12.suo
/packages/Newtonsoft.Json.5.0.4/Newtonsoft.Json.5.0.4.nupkg
/packages/Newtonsoft.Json.5.0.4/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.4/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.4/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.4/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.4/lib/netcore45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.4/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.5.0.4/lib/portable-net45+wp80+win8/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.5.0.4/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
/XK.WeiXin/bin/Debug/Newtonsoft.Json.dll
/XK.WeiXin/bin/Debug/Newtonsoft.Json.xml
/XK.WeiXin/bin/Debug/XK.Common.dll
/XK.WeiXin/bin/Debug/XK.Common.pdb
/XK.WeiXin/bin/Debug/XK.WeiXin.dll
/XK.WeiXin/bin/Debug/XK.WeiXin.pdb
/XK.WeiXin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XK.WeiXin/obj/Debug/XK.WeiXin.csproj.FileListAbsolute.txt
/XK.WeiXin/obj/Debug/XK.WeiXin.csprojResolveAssemblyReference.cache
/XK.WeiXin/obj/Debug/XK.WeiXin.dll
/XK.WeiXin/obj/Debug/XK.WeiXin.pdb
/MyBootstrapWeb.sln.DotSettings.user
/XK.Blitline/bin/Debug/Blitline.Net.dll
/XK.Blitline/bin/Debug/Newtonsoft.Json.dll
/XK.Blitline/bin/Debug/Newtonsoft.Json.xml
/XK.Blitline/bin/Debug/System.Net.Http.WebRequest.dll
/XK.Blitline/bin/Debug/System.Net.Http.WebRequest.xml
/XK.Blitline/bin/Debug/System.Net.Http.dll
/XK.Blitline/bin/Debug/System.Net.Http.xml
/XK.Blitline/bin/Debug/XK.Blitline.dll
/XK.Blitline/bin/Debug/XK.Blitline.pdb
/XK.Blitline/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XK.Blitline/obj/Debug/XK.Blitline.csproj.FileListAbsolute.txt
/XK.Blitline/obj/Debug/XK.Blitline.csprojResolveAssemblyReference.cache
/XK.Blitline/obj/Debug/XK.Blitline.dll
/XK.Blitline/obj/Debug/XK.Blitline.pdb
/XK.WeiXin/XK.WeiXin.csproj.user
/.localhistory/XK.WeiXin/Ext
/.localhistory/XK.WeiXin/Main/Logic
/.localhistory/XK.WeiXin
/.localhistory/ConsoleAppTest
/MyBootstrapWeb.v11.suo
/*.suo
/.localhistory/WebAppBootStrap
/WebAppBootStrap/*.user
/.localhistory/XK.Dal/ef
/.localhistory/XK.Dal
/.localhistory/XK.Model
/.localhistory
/XK.DataApi/bin/Debug
/XK.DataApi/obj/Debug
