<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="DBDefault" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TestWebDB.mdf;Integrated Security=True"/>-->
    <add name="DBDefault" connectionString="Server=54d20a18-3353-4fac-b634-a4d200788fe9.sqlserver.sequelizer.com;Database=db54d20a1833534facb634a4d200788fe9;User ID=lrckhsunequaiujy;Password=tfXn4o4DQTbyYVgCti3pbBVTfNRmtMnRH8DtLAGLM6ifh8hnuocxYrHYsegoDRkc;" />
  </connectionStrings>
  <appSettings>
    <add key="apisign" value="api"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="webapp_bootstrap" defaultUrl="/Index.aspx" loginUrl="/Account/Login.aspx"></forms>
    </authentication>
    <customErrors mode="Off" />
    <!-- 用Visual Studio调试的话，打开下面注释 -->
    <!--<httpModules>
      <add name="api" type="XK.DataApi.ApiModule"/>
    </httpModules>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- 必须为IIS集成管道 否则module无效-->
      <add name="api" type="XK.DataApi.ApiModule"/>
    </modules>
     <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
