<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>

    --><!-- Define some output appenders --><!--
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      --><!--日志名称--><!--

      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      --><!--日志最大可备份数--><!--

      <maximumFileSize value="1024KB"/>
      --><!--日志文件大小--><!--

      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>-->
  <connectionStrings>
    <!--<add name="DBDefault" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TestWebDB.mdf;Integrated Security=True"/>-->
    <add name="DBDefault" connectionString="Server=54d20a18-3353-4fac-b634-a4d200788fe9.sqlserver.sequelizer.com;Database=db54d20a1833534facb634a4d200788fe9;User ID=lrckhsunequaiujy;Password=tfXn4o4DQTbyYVgCti3pbBVTfNRmtMnRH8DtLAGLM6ifh8hnuocxYrHYsegoDRkc;" />
  </connectionStrings>
  <appSettings>
    <add key="apisign" value="api" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="webapp_bootstrap" defaultUrl="/View/Index.aspx" loginUrl="/Account/Login.aspx"></forms>
    </authentication>
    <customErrors mode="Off" />
    <!-- 用Visual Studio调试的话，打开下面注释 -->
    <!--<httpModules>
      <add name="api" type="XK.DataApi.ApiModule"/>
    </httpModules>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- 必须为IIS集成管道 否则module无效-->
      <add name="api" type="XK.DataApi.ApiModule" />
    </modules>
     <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
